/* Comment: Trevor J Alt Portfolio styled to feel like a 70s throwback */
/* Comment: Fonts importanted from Google web fonts */
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Main Body Background Color */
body {
  background-color: #FBDEDA;
  margin: 0;
}
/* Header H1 and Footer H2 to be most prominent elements in respective containers */
header h1, footer h2 {
  font-size: 72px;
}
/* Header H3 to look aesthically pleasing in comparison to Header H1 */
header h3 {
  font-size: 24px;
}
/* Main Container Elements */
main {
  background-color: #FBDEDA;
  color : #885A5A;
  text-align: center;
  font-family: "Open Sans", Georgia, "Sans serif";
  font-weight: bold;
  line-height: 18pt;
  margin: auto;
  padding: 65px;
}
/* Main Container Header H2 Font Size */
main h2 {
  font-size: 38px;
}
/* Main Container Header H3 Font Size */
main h3 {
  font-size: 34px;
}
/* Adjusting Main Header H2 and Header H3 font to Ultra */
main h2, main h3 {
  font-family: Ultra, Georgia, serif;
}
/* Footer H3 to be 2nd most prominent element and aesthically pleasing */
footer h3 {
  font-size: 28;
}
/* Images to have rounded edges and set size */
img {
  border-radius: 20px;
  padding: 10px;
  width: 600px;
}
/* "Visible" Horizontal Ruler Style Elements */
hr {
  height: 5px;
  width: 750px;
  border: 2px #885A5A solid;
  background-color: #885A5A;
  margin-top: 80px;
  margin-bottom: 70px;
  border-radius: 10px;
}
/* Psuedo-classes for links to be shades of dark purple */
a:link    { color: #57455e;  }
a:visited { color: #161117;   }
a:hover   { color: #82688D; }
a:active  { color: #775F81;  }
/* Header and Footer Style Elements */
.headerbox {
  background-color: #FF961F;
  color: #F7F0B6;
  text-align: center;
  font-family: Ultra, Georgia, serif;
  margin: 250;
  padding: 35px; 
}
/* intro Section Style Elements */
.pinkbox {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  text-align: left;
  width: 650px;
  padding: 20px;
}
/* about Section Style Elements */
.bluebox {
  background-color: #BBDBDD;
  color: #397593;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  width: 800px;
  padding: 40px;
  border-radius: 20px;

}
/* contact section style elements */
.yellowbox {
  background-color: #F7F0B6;
  color: #FF961F;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
}
/* element to center a header */
.centerbox {
  text-align: center;
}
/* element to right align a header */
.rightbox {
  text-align: right;
}
/* "Hidden" Ruler Element, Styled to disappear into main */
.hiddenruler {
  height: 5px;
  width: 750px;
  border: 2px #FBDEDA solid;
  background-color: #FBDEDA;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

